@media screen and (max-width: 768px) {
  header {
    width: 100%;
    display: flex;
  }
  .header--container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    border-radius: 30px;
    box-shadow: 0px 15px 40px 5px #ededed;
    background: #fff;
    flex-shrink: 0;
    padding: 0 5vw 0 5vw;
  }
  .user--logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    flex-shrink: 0;
  }
  .user--name {
    font-size: 0.7rem;
    font-weight: 400;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 800;
    color: #696f79;
  }

  .ant-modal-body p {
    font-size: 1rem;
  }

  .achievements--container {
    margin: 3vh 0 3vh 0;
    padding: 3vh 1vw 3vh 1vw;
    background-color: #ededed;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .achievements--container p {
    font-size: 0.8rem;
  }
  .achievement--img {
    width: 15vw;
  }
}
