h1 {
  margin: 0;
  color: var(--text-color) !important;
  font-family: Poppins, sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h3 {
  color: var(--text-color) !important;
  font-family: Poppins, sans-serif;
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

p {
  color: var(--text-color) !important;
  font-family: Poppins, sans-serif;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.App {
  background: var(--background-color);
  flex-shrink: 0;
}

.body--container {
  display: flex;
  justify-content: space-between;
}

.right--body--section {
  box-shadow: 0px 15px 40px 5px #ededed;
}

button {
  border-width: 0;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.6s ease;
}

html,
body {
  margin: 0;
  padding: 0;
}

.body--container {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

a:hover {
  cursor: pointer;
  transform: scale(1.05);
}

input {
  margin-right: 0 !important;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.6s ease;
}

.ant-input-affix-wrapper:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.achievement--img {
  transition: transform 0.3s ease;
}

.achievement--img:hover {
  transform: scale(1.1);
}

.info--body--left--section {
  transition: transform 0.3s ease;
}

.info--body--left--section:hover {
  transform: scale(1.05);
}

.user--info--stats--left {
  transition: transform 0.3s ease;
}

.user--info--stats--left:hover {
  transform: scale(1.1);
}

select {
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

select:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0px 25px 40px 5px #ededed;
}

.mobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.mobile--title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: #696f79;
  margin-bottom: 1rem;
}

.ant-modal-content {
  border-radius: 30px !important;
}

.ant-modal-confirm-btns button {
  border-radius: 30px !important;
}

.userlicense--container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #ededed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button--active {
  background: var(--active-bg) !important;
}

.ant-input {
  color: var(--text-color) !important;
}

.ant-message-notice-content {
  border-radius: 30px !important;
  opacity: 0.8;
}

.ant-modal-content {
  background-color: var(--background-color) !important;
}

.ant-modal-header {
  background: none !important;
}

.ant-btn {
  box-shadow: var(--shadow) !important;
  color: var(--button-text-color);
  background-color: var(--button-color);
}

.ant-popover-inner {
  background-color: var(--background-color) !important;
  border-radius: 20px !important;
}

@media screen and (max-width: 768px) {
  #root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .App {
    height: 95.5%;
    padding: 5vw 5vw 5vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
  }
}
