.tests--page {
  margin: 6vh 3vw 0 3vw;
}

.tests--page--title {
  margin-bottom: 0.6vh;
}

.tests--page--subtitle {
  margin-bottom: 2.5vh;
}

.featured--item--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
