.tests--page {
  margin: 3vw 3vw 3vw 3vw;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tests--page--top {
  height: 100%;
}

.tests--page--title {
  margin-bottom: 0.6vh;
}

.tests--page--subtitle {
  margin-bottom: 2.5vh;
}

.featured--item--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tests--page--buttons {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .mobile-tests-page-header {
    flex: 1;
    display: flex;
  }

  .stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2vh;
  }

  .body--container h3 {
    font-size: 0.5rem;
    font-weight: 400;
  }
  .mobile-tests-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .stats--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .user--info--stats--left {
    height: 7.5vh !important;
    width: 16vw !important;
    border-radius: 15px !important;
    box-shadow: 0px 15px 40px 5px #ededed;
    background: #fff;
    flex-shrink: 0;
    margin-right: 3vw !important;
  }
  .user--info--stats--left img {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .user--info--stats--right h1 {
    font-size: 1.5rem !important;
  }

  .mobile-tests-page-footer {
    display: flex;
    justify-content: space-between;
  }

  .user--info--stats--text {
    font-size: 0.9rem !important;
  }
}
