@media screen and (max-width: 768px) {
  .test-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }
  .test--image {
    width: 100%;
    height: 20vh;
    border-radius: 30px;
  }
  .test--page--middle--section--right--question--title {
    font-size: 1.5rem;
  }
  .test--page--middle--section--description {
    font-size: 1rem;
  }
  .test--page--bottom--section--buttons {
    margin: 0;
    justify-content: space-between;
  }
  .test--page--top--info--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .test--page--top--info--top h3 {
    font-size: 1rem;
  }
  .test--page--top--section--right--timer {
    font-size: 1rem;
  }
  .test--page--top--info--question h1 {
    font-size: 1rem;
  }
  .test--page--bottom--section--buttons {
    justify-content: end;
  }
  .ant-modal-confirm-content p {
    font-size: 1rem;
  }
}
